/* STRUCTURE */




/* nav */

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 2rem;
    /* padding-right: 5rem; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
  }
  
  .nav__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .nav__examples > * {
    margin-right: 0.5rem;
  }

  

  
/* scrolly
   テキストによるストーリー全体
*/

#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f3f3f3;
    padding: 1rem;
}
  
#scrolly>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}



/* article
   テキストによるストーリー全体
*/

article {
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
}
 


/* step
　　テキストによるストーリー段落ごと
*/

/* 対象外段落 */
.step {
    margin: 0 auto 2rem auto;
    /* background-color: #3b3b3b;
    color: #fff; */
    background-color: #DDD;
    color: #999;
  }
  
/* 対象内段落 */
.step.is-active {
    /* background-color: goldenrod;
    color: #3b3b3b; */
    background-color: #FFF;
    color: #000000;
}

/* 最後の段落 */
.step:last-child {
    margin-bottom: 0;
}




/* figure
　　変化するコンテンツ
*/

figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #8a8a8a;
    z-index: 0;
}
  
figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}



/* intro & outro */

#intro {
    margin-bottom: 320px;
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
}
  
#outro {
    height: 640px;
}